@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding: 110px;
}

body {
	font-family: 'Lato', sans-serif;
}

.separador-superior__1 {
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	position: relative;
	bottom: -1.3px;
	height: 4rem;
}
.separador {
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	height: 4rem;
	position: relative;
	top: 1px;
}

.separador-inferior__1 {
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	position: relative;
	bottom: -0.5px;
	height: 4rem;
	width: 100%;
	top: -7.9rem;
}

.espaciado {
	position: relative;
	top: -63.5px;
}

.div-relleno {
	position: relative;
	bottom: 8.05rem;
	background-color: #fff;
	height: 8.3rem;
}
